button,
a.button {
    height: 3rem;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 1rem;
    color: var(--font-primary);
    font-size: 1.05rem;
    font-weight: 600;
    text-align: center;
    background-color: var(--btn-primary);
    border-radius: var(--border-radius);
    outline: none;
}

a.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

tr:has(.nav-buttons):hover {
    background-color: unset;
}

td:has(button) {
    border: none;
    background-color: unset;
}

button:hover,
a.button:hover {
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.4);
}

button.btn-mini,
a.button.btn-mini,
.btn-table {
    height: 1.9em;
    width: 13em;
    font-size: 0.75em;
    font-weight: 500;
}

.btn-table {
    width: 100%;
    margin-top: .7em;
}


div.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 30px 0;
    gap: 1em;
}

div.buttons:has(.alone) {
    margin: 30px 0;
    justify-content: flex-end;
}

div.buttons:has(.btn-mini) {
    margin: 10px 0;
}

button.alone,
a.button.alone {
    width: 25.5%;
}

button:hover,
a.button:hover {
    box-shadow: 4px 4px 10px var(--hover-color);
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 600;
}

.pagination button {
    margin-top: 15px;
}

.pagination .nav-buttons {
    width: 50vw;
}

.first_page,
.last_page {
    color: var(--font-primary);
    opacity: 0.5;
    cursor: default;
}

@media (max-width: 992px) and (orientation: portrait) {

    td.buttons div,
    .pagination {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 10px 0 0;
        gap: 0;
    }

    .pagination button {
        margin-top: 0;
    }

    .pagination a {
        font-size: 1.5em;
    }

    .pagination .nav-buttons {
        display: flex;
        justify-content: center;
        width: 100%;
    }


}