:root {
    --menu-hover-color: rgba(255, 255, 255, 0.1);
}

#menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 0;
    margin-left: -301px;
    background-color: rgba(114, 114, 114, 0.8);
    transition: margin-left 0.3s;
    z-index: 1000;
}

#menu.show {
    margin-left: 0;
}

.open-icon {
    position: fixed;
    padding: 10px 15px;
    visibility: visible;
    width: 20px;
    font-size: 2rem;
    color: var(--font-primary);
    z-index: 1000;
}

.close-icon {
    display: flex;
    position: relative;
    width: 100%;
    top: 0;
    visibility: hidden;
    justify-content: flex-end;
    padding: 10px;
    font-size: 2rem;
    color: #fff;
}

.open-icon,
.close-icon {
    cursor: pointer;
}

.open-icon:hover,
.close-icon:hover {
    color: var(--btn-primary);
}

.open-icon.toggle {
    visibility: hidden;
}

.close-icon.toggle {
    visibility: visible;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    width: 100%;
    padding: 0 40px;
}

#menu li:hover {
    background-color: var(--menu-hover-color);
}

#menu li a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#menu li a:hover {
    color: var(--btn-primary);
}