:root {
    --bar-height: 15%;
    --bar-length: 90px;
    --chart-width: 50px;
}

body {
    color: rgb(111, 111, 111);
    font-weight: 700;
}

.charts {
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-bottom: 5rem;
    width: 80vw;
    max-width: 950px;
    font-size: 1.1rem;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.4);
}

.charts h1,
.charts h2 {
    color: var(--secondary);
    text-align: center;
}

.chart {
    display: table;
    height: 250px;
    width: 95%;
    margin: 0 auto;
    table-layout: fixed;
    padding-right: 30px;
    background: linear-gradient(90deg, rgb(208, 209, 211) 0%, rgb(129, 133, 144) 100%);
}

.chart li {
    display: table-cell;
    height: 200px;
    position: relative;
    vertical-align: bottom;
}

.chart span {
    display: block;
    width: var(--chart-width) !important;
    margin: 0 auto;
    background: #c3ffb4;
    animation: draw 1s ease-in-out;
}

.chart span::before {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 5px 0 0;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
}

.chart span::after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    padding: 5px 0 0;
    text-align: center;
    content: attr(aria-label);
    word-wrap: break-word;
}

.bar-chart {
    display: grid;
    padding: 5px 30px;
    grid-template-columns: 30% 70%;
}

.bar-chart p {
    margin: 5px;
    padding-right: 5px;
    text-align: left;
    line-height: 1em;
}

.bar-chart span {
    padding: 5px 10px;
    text-align: right;

    background-color: rgb(168, 245, 185);
}

@keyframes draw {
    0% {
        height: 0;
    }
}

@media (max-width: 992px) {
    :root {
        --bar-length: 30px;
        --chart-width: 30px;
    }
}