<div id="menu">
    <div onclick="menuToggle()" class="material-symbols-outlined close-icon"> close </div>
    <ul>
        <li> <a href="/app/home.html">Home</a> </li>
        <li> <a href="/app/pacientes.html">Pacientes</a> </li>
        <li> <a href="/app/medicos.html">Médicos</a> </li>
        <li> <a href="/app/agenda.html">Agenda</a> </li>
        <li> <a href="/app/cidades.html">Cidades</a> </li>
        <li> <a href="/app/salmos.html">Salmos</a> </li>
    </ul>
</div>

<div onclick="menuToggle()" class="material-symbols-outlined open-icon"> menu </div>