<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Médica - Relatórios</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/relatorio.css">
</head>

<body>
    <div class="header">
        <a href="/app/home.html">
            <i class="material-symbols-outlined">arrow_back</i>
        </a>
    </div>

    <div class="container" hx-ext="client-side-templates">
        <div class="titles">
            <h1 hx-trigger="load" hx-get="/info/title"></h1>
            <h2>Relatório de Consultas Realizadas</h2>
        </div>

        <section id="slot-graficos"></section>

        <div hx-get="/api/relatorios" hx-trigger="load" hx-target="#slot-graficos"
            mustache-array-template="graficos-template">
        </div>

        <template id="graficos-template">
            <div class="charts">
                <h2>Quantidade por mês</h2>
                <ul class="chart">

                    <!-- {{#data.meses}} -->
                    <li>
                        <span style="height: calc(var(--bar-height) * {{qtd}} )" aria-label="{{qtd}}" title="{{mes}}">
                        </span>
                    </li>
                    <!-- {{/data.meses}} -->
                </ul>
            </div>

            <p>&nbsp;</p>

            <div class="charts">
                <h2>Quantidade por médico</h2>

                <!-- {{#data.medicos}} -->
                <div class="bar-chart">
                    <p>{{nome}}</p>
                    <span style='width: calc(var(--bar-length)*{{qtd}})'> {{qtd}} </span>
                </div>
                <!-- {{/data.medicos}} -->
            </div>
        </template>
    </div>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
</body>

</html>