<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"htmx.config.requestClass":""}'>
    <title>Clínica Médica - API Externa</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div
        hx-on="htmx:configRequest: event.detail.headers=''; event.detail.headers['Content-Type']='application/x-www-form-urlencoded; charset=UTF-8'" />

    <div class="container">
        <h1>Teste de acesso a uma API externa</h1>

        <div style="display: flex; justify-content: center;">
            <div hx-ext="client-side-templates" hx-get="/api/capitulo" hx-trigger="load" hx-swap="innerHTML"
                mustache-array-template="api-externa">
            </div>

            <template id="api-externa">
                {{#data}}
                <div hx-ext="client-side-templates"
                    hx-get="https://bible-api.com/Salmos+{{capitulo}}?translation=almeida" hx-trigger="load"
                    hx-swap="innerHTML" mustache-array-template="salmos">

                    <div class="spinner">
                        <img width="120px" src="./icons/spinner.svg">&nbsp;
                    </div>

                </div>
                {{/data}}
            </template>

            <template id="salmos">
                {{#data}}

                <h2> {{reference}} </h2>
                {{#verses}}
                <p style="font-size: 1.3rem">{{verse}}. {{text}}</p>
                {{/verses}}

                <footer style="margin-top: 60px; font-size: 1em;">
                    <hr style="width: 100%; border-bottom: solid 1px silver">
                    <div>
                        <b> <i> Dados obtidos da API: </i> </b>
                        <a href="https://bible-api.com/{{reference}}?translation=almeida">
                            <i>https://bible-api.com/{{reference}}?translation=almeida</i>
                        </a>
                    </div>
                </footer>

                {{/data}}

            </template>

        </div>
    </div>
</body>

</html>